body {
  background: #f1f5f8;
  color: grey;
  width: 50%;
  margin: 0 auto;
  font-family: Arial;
  font-size: 16px;

  article {
    border: 1px solid #eee;
    border-radius: 2px;
    background: #fcfcfc;
    padding: 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 1em;
    h2 {
      margin-top: 0;
    }
  }

  a {
    color: #66f;
  }
}